.form{
  max-width: 600px;
  margin: 0 auto;
}
.loader-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top:0;
  height : 100%;
  width : 100%; 
}
.custom-loader{
  border : 3px solid #f1f1f1;
  border-top : 3px solid #00d1b6;
  border-radius: 50%;
  width : 120px;
  height:120px;
  animation: spin 1s linear infinite; 
}
@keyframes spin {
 0% {transform : rotate(0deg);}
 100% {transform : rotate(360deg);}
}
